/* global */

body {
  padding-bottom: 0;
  color: #5a5a5a;
  background-color: rgba(0,0,0,.9);
  margin: 0;
}

.pull-center {
  text-align: center;
}

.page {
  margin: 5%;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  opacity: .6;
}

.access-header {
  text-align: center;
  height: 70px;
}

.access-img-wrap {
  text-align: center;
  height: 160px;
}

.about-us {
  text-align: center;
  padding: 20px;
  display: block;
  position: relative;
  z-index: 2;
  color: rgba(0,0,0,.9);
  border-radius: 0;
  background-color: transparent;
}

/* navbar */

.navbar {
  color: white;
}

/* marketing content */

.marketing .block {
  background-color: rgba(245,255,255,.9);
  padding: 15px;
  position: relative;
  top: 100px;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  margin-bottom: 50px;
}

.marketing .row .block {
  padding-left: 0;
  padding-right: 0;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .block h1 {
  font-size: 4em;
  text-align: center;
}