/* global */

body {
  padding-bottom: 0;
  color: #5a5a5a;
  background-color: rgba(0,0,0,.9);
  margin: 0;
  font-family: sans-serif;
}

.pull-center {
  text-align: center;
}

.page {
  margin: 5%;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  opacity: .6;

  filter: saturate(800%);
}

.access-header {
  text-align: center;
  height: 70px;
}

.access-img-wrap {
  text-align: center;
  height: 160px;
}

.about-us {
  padding: 20px;
  display: block;
  position: relative;
  z-index: 2;
  color: rgba(0,0,0,.9);
  border-radius: 0;
  background-color: transparent;
}

/* navbar */

.navbar {
  color: white;
  font-size: 21px;
  background-color: rgba(180,0,0,.75);
}

.navbar a {
  color: white;
  text-align: center;
}

/* marketing content */

.marketing .block {
  background-color: rgba(255,255,255,.75);
  padding: 15px;
  position: relative;
  top: 80px;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

.marketing .row .block {
  padding-left: 0;
  padding-right: 0;
}